
body {
    background-color: #efeee7;
    padding: 0;
    margin: 0;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
}


h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size:28px;
    text-align:center;
    color: #efeee7;
    background-color: black;
}

h2 {
    font-size: 24px;
}

a {
    color: red;
}

.container {
    width: 1024px;
    margin: 0 auto;
}


#bio,
#contact,
#bio-image {
    float: left;
}

#bio {
    width: 70%;
}

#contact {
    width: 30%;
}

#bio-image {
    border: 1px solid black;
    border-radius:20%;
    margin-right: 20px;
    width: 200px;
    height: 200px;
}


